<div class="container" ng-controller="JobController as ctrl">
	<div class="form-group"></div>
	Search for a job
	<p>
		<input type="text" ng-model="surch_txt">
	</p>

	<div ng-repeat="job in ctrl.jobs | filter:surch_txt">
		<fieldset>
			<legend></legend>

			<p>
				Id:{{job.jobid}}&nbsp; <a href="#"
					ng-click="ctrl.getJobDetails(job.jobid)">Get Job Details</a> &nbsp;
				<button type="button" ng-click="ctrl.applyForJob(job.jobid)"
					class="btn btn-warning btn-sm">Apply for job</button>
			</p>

			<p>title:{{job.title}}</p>
			<p>Qualification :{{job.qualification}}</p>
		</fieldset>

	</div>

</div>
